footer {
	display: block;
        position: absolute;
        bottom: 0;
        background-color: #fff;
        height: 60px;
        width: 100%;
        text-align: center;
	line-height: 70px;
	border-top: 1px solid #CCCCCC;
}

