section.filters {
	background-color: #fff;
	height: 70px;
	width: 100%;
	border: 1px solid #DDD
}

div.locations,
div.amenities {
	height: 100%;
	width: 25%;
	float: left;
	margin-left: 30px;
}

div.locations {
	border-right: 1px solid #DDD;
}

div.locations h3,
div.amenities h3 {
	font-weight: 600;
}

div.locations h4,
div.amenities h4 {
	font-weight: 400;
	font-size: 14px;
}
