* {
	font-color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
	max-width: 1000px;
	margin: 30px auto;
	min-height: 100%;
}

.container section {
	/*display: flex;*/
	/*align-items: right;*/
}

section.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #fff;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	float: right;
	margin-right: 30px;
	margin-top: 10px;
	line-height: 48px;
}

section.filters button:hover {
	opacity: 0.9;
}

